<h2>Lista de Estudiantes Registrados</h2>

<div *ngIf="estudiantes.length === 0; else listaEstudiantes">
    <div class="alert alert-info mt-3" role="alert">
        ¡Aún no hay estudiantes registrados! Por favor, agrega uno.
    </div>
</div>

<ng-template #listaEstudiantes>
    <table class="table table-striped table-hover mt-3">
        <thead class="table-primary">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Carrera</th>
                <th>Promedio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let estudiante of estudiantes">
                <td>{{ estudiante.id }}</td>
                <td>{{ estudiante.nombre }}</td>
                <td>{{ estudiante.carrera }}</td>
                <td>
                    <span class="badge" [class.bg-success]="estudiante.promedio >= 8.5" [class.bg-warning]="estudiante.promedio >= 7.0 && estudiante.promedio < 8.5" [class.bg-danger]="estudiante.promedio < 7.0">
            {{ estudiante.promedio | number: '1.1-2' }}
          </span>
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>